* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
