@import "./reset.scss";
@import "./fonts.scss";

body {
    font-family: "PT Sans";
    margin: 0;
    padding: 0;
    color: #42567a;
    background: #f4f5f9;
}
.section {
    max-width: 1440px;
    border-left: 1px solid #e2e5ec;
    border-right: 1px solid #e2e5ec;
    margin: 0 auto;
    position: relative;
    padding: clamp(3.688rem, 1.705rem + 9.91vw, 10.625rem) 0 clamp(0.813rem, -0.813rem + 8.13vw, 6.5rem);
    @media (max-width: 991px) {
        border: 0;
        display: flex;
        flex-direction: column;
    }
    &::after {
        content: "";
        background: #42567a;
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        height: 100%;
        transform: translate(-50%, 0);
        width: 1px;
        opacity: 0.1;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__title {
        position: relative;
        font-size: clamp(1.25rem, 0.607rem + 3.21vw, 3.5rem);
        font-weight: 700;
        margin: 0;
        margin-bottom: -89px;
        padding-left: clamp(1.25rem, 0.268rem + 4.91vw, 4.688rem);
        line-height: calc(67.2 / 56);
        @media (max-width: 991px) {
            margin-bottom: 56px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 5px;
            height: 89%;
            background: linear-gradient(to bottom, #3877ee, #ef5da8);
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}
.event-slider {
    max-width: calc(1440px - 160px);
    margin: clamp(1.25rem, 0.607rem + 3.21vw, 3.5rem) 0 0;
    padding: 0 clamp(1.25rem, 0.179rem + 5.36vw, 5rem);
    position: relative;
    &__swiper {
        min-height: 104px;
    }
    &__btns {
        position: absolute;
        right: -40px;
        top: 43%;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
        left: 20px;
        @media (max-width: 1399px) {
            display: none;
        }
    }
    &__btn {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNiA2TDEgMTEiIHN0cm9rZT0iIzM4NzdFRSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgoK");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 15px 0px #3877ee1a;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        &_prev {
            transform: rotate(180deg);
        }
        &.swiper-button-disabled {
            display: none;
        }
        &_next {
            margin-left: auto;
        }
    }
}
.event-item {
    &__title {
        color: #3877ee;
        margin: 0 0 15px;
        font-family: "Bebas Neue";
        font-size: clamp(1rem, 0.839rem + 0.8vw, 1.563rem);
        font-weight: 400;
        line-height: calc(30 / 25);
    }
    &__desc {
        font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
        font-weight: 400;
        line-height: calc(30 / 20);
        margin: 0;
    }
}
.period-slider {
    &__title-container {
        position: relative;
        padding: 0 20px;
        @media (max-width: 991px) {
            position: static;
        }
    }
    &__title {
        font-size: clamp(3.5rem, 0.929rem + 12.86vw, 12.5rem);
        font-weight: 700;
        line-height: calc(160 / 200);
        letter-spacing: -0.02em;
        text-align: center;
        color: #5d5fef;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        @media (max-width: 991px) {
            position: static;
            transform: none;
        }
        &::after {
            content: "";
            display: block;
            height: 1px;
            left: 0;
            right: 0;
            top: 50%;
            background: #e2e5ec;
            position: absolute;
            z-index: -1;
            @media (max-width: 991px) {
                display: none;
            }
        }
        &_max {
            color: #ef5da8;
        }
    }
    &__pagination {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(18 / 14);
        margin: 0 auto;
        margin-top: -48px;
        padding: 0 clamp(1.25rem, 0.179rem + 5.36vw, 5rem);
        @media (max-width: 991px) {
            margin-top: 78px;
            order: 9;
        }
    }
    &__pagination-circle {
        border-radius: 50%;
        border: 1px solid rgba(66, 86, 122, 0.2);
        aspect-ratio: 1/1;
        max-width: 530px;
        margin: 0 auto;
        position: relative;
        transition: transform ease 1s;
        bottom: 0 !important;
        @media (max-width: 991px) {
            position: absolute;
            bottom: 32px;
            left: 0;
            right: 0;
            max-width: unset;
            transform: translate(-50, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            aspect-ratio: unset;
            border-radius: 0;
            gap: 10px;
        }

        .swiper-pagination-bullet {
            width: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
            height: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
            margin: 0 !important;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            opacity: 1;
            font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 991px) {
                position: static;
                background: rgba(66, 86, 122, 0.4);
                width: 6px;
                height: 6px;
                &.swiper-pagination-bullet-active {
                    background: #42567a;
                }
            }

            &__index {
                color: transparent;
                position: absolute;
                content: "";
                border-radius: 50%;
                width: 5px;
                height: 5px;
                background: #42567a;
                border: 1px solid #42567a;
                transition: all ease 0.4s;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 991px) {
                    display: none;
                }
            }
            &:hover {
                .swiper-pagination-bullet__index {
                    background: #f4f5f9;
                    border: 1px solid #303e5880;
                    width: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
                    height: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
                    color: inherit;
                }
            }
            &__title {
                font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
                font-weight: 700;
                line-height: calc(30 / 20);
                position: absolute;
                left: 136%;
                transition: all ease 0.4s;
                opacity: 0;
                pointer-events: none;
            }
            &.swiper-pagination-bullet-active {
                .swiper-pagination-bullet__index {
                    background: #f4f5f9;
                    border: 1px solid #303e5880;
                    width: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
                    height: clamp(2.5rem, 2.214rem + 1.43vw, 3.5rem);
                    color: inherit;
                }
            }
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 20px 0 0;
        padding: 0 clamp(1.25rem, 0.179rem + 5.36vw, 5rem);
        order: 10;
        @media (max-width: 575px) {
            margin: 11px 0 0;
        }
    }
    &__btn {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNDk5ODggMC43NTAwMDFMMi4yNDk4OCA3TDguNDk5ODggMTMuMjUiIHN0cm9rZT0iIzQyNTY3QSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
        width: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
        height: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        border: 1px solid #42567a80;
        border-radius: 50%;
        cursor: pointer;
        &_prev {
        }
        &.swiper-button-disabled {
            opacity: 0.5;
        }
        &_next {
            transform: rotate(180deg);
        }
    }
}
